body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

nav {
    height: 68px;
    background-color: #1b2126;
    display: flex;
    align-items: center;
}

aside {
    padding-right: 15px;
}

i{
    margin-right: 5px;
}

.next {
    padding-left: 10px;
    padding-top: 80px;
}

#menu {
    padding-right: 66px;
}

#menu a {
    color: #b2b5b8;
    text-decoration: none;
}

#sidebar {
    border-right: 1px solid #e9ecee;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.nopadding-left {
    padding-left: 0;
}

.encabezado {
    height: 68px;
    display: flex;
    align-items: center;
    color: #5c6269;
}

.borrar {
    color: #f3644f;
    float: right;
    padding-right: 30px;
}

.buscar {
    color: #1b2126;
    border-radius: 6px;
    background-color: #5c6269;
    height: 38px;
    padding-left: 8px;
    padding-top: 7px;
}

.buscar .barra {
    margin-top: 1px;
    width: 310px;
    background-color: #5c6269;
    border: none;
    outline: none;
    color:white;
}

::-webkit-input-placeholder{
    color:white;
}

.cat {
    font-weight: 600;
    color: #1b2126;
}

.catvalue {
    font-weight: 700;
    font-size: 14px;
    color: #b2b5b8;
    float: right;
}

.encontradas {
    font-weight: 600;
    color: #1b2126;
}

.ordenar {
    color: #5c6269;
    float: right;
}

.slider {
    font-weight: 700;
    font-size: 14px;
}

.caratula {
    height: 403px;
    width: 269px;
    padding-bottom: 27px;
    border-radius: 8px;
}

.caratula:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.btn {
    margin-bottom: 10px;
    width: 125px;
}

.centrado {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.filter input{
    width: 30px;
}

.ficha .title {
    font-weight: 300;
    color: #1b2126;
    font-size: 35px;
}

.ficha .año,
.duracion {
    font-weight: 300;
    color: #b2b5b8;
    font-size: 20px;
}

.ficha .caratula {
    height: 660px;
    width: 440px;
    background-color: darkgray;
    padding-bottom: 0;
}

.ficha .caratula:hover {
    opacity: 1;
}

.ficha .subtitulo {
    font-weight: 300;
    color: #1b2126;
    font-size: 25px;
}

.ficha .cat {
    font-weight: 400;
    color: #1b2126;
    font-size: 14px;
    margin-top: 21px;
    margin-bottom: 31px;
}

.ficha .sinopsis {
    font-weight: 400;
    color: #b2b5b8;
    font-size: 16px;
}

.ficha .subs {
    font-weight: 700;
    color: #b2b5b8;
    font-size: 18px;
    padding-top: 18px;
}

.ficha .idiomas {
    font-weight: 400;
}

.ficha .similares {
    font-weight: 400;
    color: #1b2126;
    font-size: 16px;
}

.ficha .puntuacion {
    font-weight: 600;
    color: #b2b5b8;
    font-size: 14px;
}

.ficha .video {
    padding-top: 20px;
    width: 100%;
    height: 400px;
    border: none;
}

.ficha .caratulasimilar {
    height: 405px;
    width: 270px;
    background-color: darkgray;
}

.ficha .caratulasimilar:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.ficha .footer {
    text-align: left;
}

.modal-ficha {
    width: 1170px;
}

.margen20{
    margin-top: 20px;
}

.label{
    margin-right: 3px;
}

.score-icon{
    width: 15px;
    height: 15px;
    vertical-align: top;
    margin-right: 5px;
    margin-left: 15px;
}